# Finding Outliers Using central tandancy
## 1. Mean

## 2. Median

## 3. Mode

# Linear Algabra
### To use linear algabra in numpy import 
### from numpy import linalg as LA
## 1. Dot Product
## 2. Multi Dot
## 3. Inverse Matrix
## 4. Determinant
## 5. Inner product
## 6. Matrix Power

In [20]:
import numpy as np
my_arr1 = np.array ([[1,2],[3,4]])
my_arr2 = np.array([[2,4],[6,9]])
print(f"my_arr1:\n{my_arr1}")
print(f"my_arr2:\n{my_arr2}")

print(np.linalg.multi_dot([my_arr1,my_arr2]))
# [1,2][2,6] = arr1[0][:]arr2[:][0]
# (1x2)+(2x6) = 14
# [1,2][4,9] = arr1[0][:]arr2[:][1]
# (1x4)+(2x9) = 22
# [3,4][2,6] = arr1[1][:]arr2[:][0]
# (3x2)+(4x6) = 30
# [3,4][4,9] = arr1[1][:]arr2[:][1]
# (3x4)+(4x9) = 48

np.linalg.multi_dot([my_arr1,my_arr2,[1,2]])
# my_arr1.my_arr2
# [[14, 22],
#  [30, 48]]
# [14,22][1,2] = (14x1)+(22x2) = 58
# [30,48][1,2] = (30x1)+(48x2) = 126


np.linalg.det(my_arr1)

np.linalg.inv(my_arr2)

np.inner(my_arr1, my_arr2)
# [1,2][2,4] 
# (1 x 2) + (2 x 4) = 10 [0,0]
# [1,2][6,9]
# (1 x 6) + (2 x 9) = 24 [0,1]
# [3,4][2,4]
# (3 x 2) + (4 x 4) = 22 [1,0]
# [3,4][6,9]
# (3 x 6) + (4 x 9) = 54 [1,1]

np.pow(my_arr1, 2)

my_arr1:
[[1 2]
 [3 4]]
my_arr2:
[[2 4]
 [6 9]]
[[14 22]
 [30 48]]

array([[ 1,  4],
       [ 9, 16]])

## Airthmatic Mean
## Geometric Mean

In [ ]:
mylist = [2,4,8,16,32,64,128,256]

in my business the initial investment was 2500$, for last 5 years i have a profit of [25%,30%,-10%,100%,-20%] i need know how much money i have in my account and is my company profitable or not

In [67]:
profit = np.array([0.25,0.30,-0.10,1,-0.20])
profit_dol = profit*2500
total_amount = 2500
for profit_p_year in profit:
    total_amount += total_amount * profit_p_year
print(total_amount)

5850.0

In [48]:
year1 = 2500+ 2500*0.25
year2 = year1+ year1*0.30
year3 = year2+ year2*-0.10
year4 = year3+ year3*1
year5 = year4+ year4*-0.20
print(year5)

5850.0

In [40]:
profit.sum()/len(profit)

np.float64(33.0)

In [49]:
np.pow(profit.prod(),1/len(profit))

np.float64(0.2724069927426661)

In [51]:
(2500+(2500*0.2724)*5)

5905.0

In [47]:
2500+(2500*0.25)*5

5625.0

In [66]:
profit
factor = profit + 1
print(factor)
product_of_factor = factor.prod()
print(product_of_factor)
amount = 2500*product_of_factor
amount

[0.9 1.2 1.8 0.7 0.6 0.8 1.3 1.6 0.9 1.2]
1.4673125376

np.float64(3668.281344)

## 9000 is initial investment and the rcord of last ten years is [-10%,20%,80%,-30%,-40%,-20%,30%,60%,-10%,20%] and find average profit or loss per year

In [84]:
initial = 9000
profit = np.array([-10,20,80,-30,-40,-20,30,60,-10,20])
profit = profit/100
print(1/len(profit))
factors = profit + 1
gmean = np.pow(factor.prod(), 1/len(factors))-1
total_amount = initial*factor.prod()
print(f"Total amount: {total_amount}")
print(f"Amean: {profit.mean(): .2f}")
print(f"Gmean: {gmean}")

0.1
Total amount: 13205.812838400001
Amean:  0.10
Gmean: 0.039087840845481114

In [70]:
factors = profit + 1
total_amount = initial*factor.prod()
print(f"Total amount: {total_amount}")

Total amount: 13205.812838400001

In [88]:
(initial+(9000*0.1)*10)

18000.0

In [1]:
import numpy as np
from numpy import genfromtxt

In [15]:
dataset = genfromtxt('calories.csv',delimiter=',',dtype='str')

In [16]:
columns = dataset[0]

In [17]:
dataset = np.delete(dataset,0,axis = 0)

In [18]:
dataset[dataset == '']

array(['', '', '', '', '', ''], dtype='<U8')

In [20]:
null_values = np.where(dataset=='')

array([  7,  17,  27,  91, 118, 141])

In [21]:
dataset = np.where(dataset == '', '0',dataset)

In [25]:
dataset = dataset.astype('float64')

In [33]:
print(f"Mean average of Duration: {np.mean(dataset[:,0])}")

Mean average of Duration63.57988165680474

In [30]:
dataset[:,0]

array([ 60.,  60.,  60.,  45.,  45.,  60.,  60.,   0.,  30.,  60.,  60.,
        60.,  60.,  60.,  60.,  60.,  60.,  45.,  60.,  45.,  60.,  45.,
        60.,  45.,  60.,  60.,  60.,  60.,  60.,  60.,  60.,  45.,  60.,
        60.,  60.,  60.,  60.,  60.,  60.,  45.,  45.,  60.,  60.,  60.,
        60.,  60.,  60.,  45.,  45.,  60.,  60.,  80.,  60.,  60.,  30.,
        60.,  60.,  45.,  20.,  45., 210., 160., 160.,  45.,  20., 180.,
       150., 150.,  20., 300., 150.,  60.,  90., 150.,  45.,  90.,  45.,
        45., 120., 270.,  30.,  45.,  30., 120.,  45.,  30.,  45., 120.,
        45.,  20., 180.,  45.,  30.,  15.,  20.,  20.,  30.,  25.,  30.,
        90.,  20.,  90.,  90.,  90.,  30.,  30., 180.,  30.,  90., 210.,
        60.,  45.,  15.,  45.,  60.,  60.,  60.,  60.,  60.,  60.,  30.,
        45.,  60.,  60.,  60.,  60.,  60.,  60.,  90.,  60.,  60.,  60.,
        60.,  60.,  60.,  20.,  45.,  45.,  45.,  20.,  60.,  60.,  45.,
        45.,  60.,  45.,  60.,  60.,  30.,  60.,  60.,  60.,  60.,  30.,
        60.,  60.,  60.,  60.,  60.,  30.,  30.,  45.,  45.,  45.,  60.,
        60.,  60.,  75.,  75.])

In [34]:
investment_data = genfromtxt('InvestmentDataset.csv', delimiter=',',dtype='str')

In [35]:
investment_data

array([['Year', 'Profit Percentage', 'Additional Investment',
        'Total Amount'],
       ['1', '25%', '0', '6250.00'],
       ['2', '-30%', '0', '4375.00'],
       ['3', '22%', '0', '5337.50'],
       ['4', '28%', '0', '6832.00'],
       ['5', '25%', '2000', '10840.00'],
       ['6', '5%', '0', '11382.00'],
       ['7', '-25%', '0', '8536.50'],
       ['8', '30%', '0', '11097.45'],
       ['9', '-22%', '0', '8656.01'],
       ['10', '28%', '0', '11079.69']], dtype='<U21')

In [36]:
columns = investment_data[0]
investment_data = np.delete(investment_data,0,axis = 0)

In [71]:
investment_data
profits = np.array([pro.replace('%','') for pro in investment_data[:,1]]).astype('float')
print(np.char.replace(investment_data[:,1],'%','').astype('float'))
initial_investment = 5000
aditional_investment = investment_data[:,2].astype('float')
profits = profits / 100

# factor = profit/100 + 1

factor = (profits)+1

print(f"AMean: {np.mean(profits)}")
print(f"GMean: {np.pow(factor.prod(), 1/len(factor))-1}")

total_amount = initial_investment
for a_invest,profit_y in zip(aditional_investment,profits):
    
    total_amount += a_invest
    
    total_amount *= profit_y+1
    

total_amount

[ 25. -30.  22.  28.  25.   5. -25.  30. -22.  28.]
AMean: 0.08600000000000001
GMean: 0.05730098145198537

np.float64(11284.11648)