In [1]:
import pandas as pd

In [5]:
orders = pd.read_csv('orders.csv', na_values=['Fail','abcent',""])
products = pd.read_csv('products.csv')
customers = pd.read_csv('customers.csv')

In [6]:
orders.head()

  order_id customer_id product_id  quantity  order_date
0   O00001       C0333       P022         1  2022-01-09
1   O00002       C0068       P090         1  2022-01-27
2   O00003       C0483       P021         1  2022-01-17
3   O00004       C0214       P076         4  2022-01-07
4   O00005       C0411       P073         4  2022-01-12

In [8]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2584 entries, 0 to 2583
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     2584 non-null   object
 1   customer_id  2584 non-null   object
 2   product_id   2584 non-null   object
 3   quantity     2584 non-null   int64
 4   order_date   2584 non-null   object
dtypes: int64(1), object(4)
memory usage: 101.1+ KB

In [11]:
orders.order_date = pd.to_datetime(orders.order_date)

In [29]:
# filtter your data
top_products = orders[orders['order_date'].dt.year == 2022]['product_id'].value_counts()
top_products

product_id
P059    17
P090    15
P041    15
P099    15
P022    14
        ..
P032     4
P054     3
P023     3
P040     3
P005     3
Name: count, Length: 100, dtype: int64

In [34]:
products[products['product_id']==top_products.index[0]]['product_name']

58    Network
Name: product_name, dtype: object

In [38]:
merged_orders = orders.merge(products[['product_id','price']], on = 'product_id', how ='left')

In [39]:
merged_orders['total_price'] = merged_orders.quantity * merged_orders.price

In [40]:
merged_orders

     order_id customer_id product_id  quantity order_date   price  total_price
0      O00001       C0333       P022         1 2022-01-09  185.33       185.33
1      O00002       C0068       P090         1 2022-01-27  947.55       947.55
2      O00003       C0483       P021         1 2022-01-17  938.65       938.65
3      O00004       C0214       P076         4 2022-01-07  154.17       616.68
4      O00005       C0411       P073         4 2022-01-12  131.85       527.40
...       ...         ...        ...       ...        ...     ...          ...
2579   O02580       C0237       P098         5 2024-12-22  567.31      2836.55
2580   O02581       C0236       P007         1 2024-12-05  325.74       325.74
2581   O02582       C0029       P035         1 2024-12-12  362.04       362.04
2582   O02583       C0171       P077         1 2024-12-16  233.11       233.11
2583   O02584       C0421       P038         5 2024-12-01  817.52      4087.60

[2584 rows x 7 columns]